.spinner {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  vertical-align: middle;
  border: 8px solid #74b9ff;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
