.spinner {
  width: 150px;
  height: 150px;

  margin: 15% auto;
  border: 8px solid #74b9ff;
  border-top: 8px solid #3498db;
  border-radius: 50%;

  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
